$heading-font:'Montserrat', sans-serif;
$body-font:'Rubik', sans-serif ;
$primary-color: #231F20;
$secondary-color: #EF7B45;
$tertiary-color:#F9A620;
$bringal: #731DD8;
$lime-green: #2A9D8f;
$white-bg: #f7f7ee;