/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #E6E7EE;
  font-family: "Rubik", sans-serif;
  color: #231F20;
  text-align: center;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  width: 100%;
  font-size: 0;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Rubik", sans-serif;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.col-gap-2 {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.col-gap-2-5 {
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.grid-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header {
  background-color: #F9A620;
  padding: 1rem;
}

header .logo {
  font-size: 2rem;
}

nav a {
  margin: 0 0.5rem;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.toDo {
  margin-top: 2rem;
  background-color: yellow;
  padding: 3rem 1rem 2rem 1rem;
  border-radius: 25px;
}

.toDo .todo-heading {
  margin-bottom: 2rem;
}

.toDo input {
  background-color: whitesmoke;
  outline: none;
  border: 1px solid #231F20;
  width: 40%;
  padding: 0.5rem;
  border-radius: 25px;
  margin: 0 0.5rem;
}

.toDo input[name="task-hr"] {
  width: 20%;
}

.toDo input[name="task-min"] {
  width: 20%;
}

.root {
  padding: 1rem;
}

.root .taskTime {
  text-align: right;
}

.root .Bttn {
  margin-left: 2rem;
  cursor: pointer;
}

.root .play {
  margin-left: 12rem;
}

.root li {
  margin: 1rem 0;
  background-color: whitesmoke;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
}

.controls button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #231F20;
  border-radius: 25px;
  margin: 0 0.5rem;
}
/*# sourceMappingURL=main.css.map */